@import
	url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	margin: 5% auto;
	width: 50%;
	text-align: center;
	background-color: #A0C3D2;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 90px;
	font-weight: lighter;
}

.error {
	font-family: 'Raleway', sans-serif;
	color: red;
	font-size: 60px;
	font-weight: lighter;
}

a.back {
	color: white;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

a.back:hover {
	color: white;
}
/*HOME.HTML*/
a {
	text-decoration: none;
	color: white;
}

.btn {
	padding: 2.5%;
	font-size: 20px;
	background-color: #A0C3D2;
	font-family: 'Courrgb(240, 240, 240) monospace';
	width: 20%;
	height: 2%;
	margin: auto 37%;
	border: 2px solid white;
}

.btn:hover {
	background-color: white;
}

a:hover {
	color: #80afc4;
}

/*FORM REGISTRAZIONE.HTML*/
.form {
	background-color: white;
	width: 60%;
	height: 65%;
	margin: 10% auto;
	padding: 4% 10%;
	border-radius: 2%;
	box-shadow: 8px 10px 15px rgb(43, 43, 43);
}

div.form>h3 {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: x-large;
	color: rgb(58, 81, 111);
}

input {
	width: 100%;
	padding: 3%;
	border: 2px solid #f2f2f2;
	border-radius: 2%;
	box-shadow: 3px 5px 10px lightgrey;
}

.formbtn {
	border: 2px solid #f2f2f2;
	border-radius: 4%;
	padding: 2%;
	color: rgb(87, 87, 87);
}

/*CONFERMA INSERIMENTO.HTML*/
.suc {
	font-size: 50px;
}

a {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

/*TABLE.HTML*/
table {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
	border-radius: 6px;
	box-shadow: 8px 10px 15px rgb(43, 43, 43);
}

th {
	background-color: rgb(58, 81, 111);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 10px;
	border-top: none;
}

td {
	text-align: left;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: rgb(119, 119, 119);
}

td>a {
	color: rgb(58, 81, 111);
}

td>a.del {
	color: red;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pages > a {
	border: 2px solid lightgrey;
	font-family: 'Raleway', sans-serif;
	color:  rgb(58, 81, 111);
	padding:  0.5% 1%;
	font-weight: bolder;
	background-color: #f6f5f4;
}



.pages > a:hover{
	cursor: pointer;
	border-style: inset;
}

/*FOOTER*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #80afc4;
	padding: 1%;
}

.footer>a {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #80afc4;
}

.footer>a:hover {
	text-decoration: underline;
}